body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #eee;
}

header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: block;
    background: #222;
    color: #eee;
    border-radius: .5rem;
    outline: none;
    -webkit-apperance: none;
}

.dice {
    width: 8rem;
    height: 8rem;
    background: #fff;
    border: 4px solid #222;
    border-radius: .5rem;
    margin: 2rem;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease;
}

.dice.faded {
    opacity: .2;
}

/* De svarta prickarna */
.dice aside {
    width: 24px;
    height: 24px;
    background: #222;
    border-radius: 99rem;
    display: none;
}

/* Första svarta pricken på en tärning med en prick */
.dice.dice-1 aside:nth-child(1) {
    display: block;
    margin: auto;
}

/* Första svarta pricken på en tärning med två prickar */
.dice.dice-2 aside:nth-child(1) {
    display: block;
    position: absolute;
    left: .5rem;
    top: .5rem;
}

/* Andra svarta pricken på en tärning med två prickar */
.dice.dice-2 aside:nth-child(2) {
    display: block;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

/* Första svarta pricken på en tärning med tre prickar */
.dice.dice-3 aside:nth-child(1) {
    display: block;
    position: absolute;
    left: .5rem;
    top: .5rem;
}

/* Andra svarta pricken på en tärning med tre prickar */
.dice.dice-3 aside:nth-child(2) {
    display: block;
    margin: auto;
}

/* osv, osv ... */
.dice.dice-3 aside:nth-child(3) {
    display: block;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.dice.dice-4 aside:nth-child(1) {
    display: block;
    position: absolute;
    left: .5rem;
    top: .5rem;
}

.dice.dice-4 aside:nth-child(2) {
    display: block;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.dice.dice-4 aside:nth-child(3) {
    display: block;
    position: absolute;
    left: .5rem;
    bottom: .5rem;
}

.dice.dice-4 aside:nth-child(4) {
    display: block;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.dice.dice-5 aside:nth-child(1) {
    display: block;
    position: absolute;
    left: .5rem;
    top: .5rem;
}

.dice.dice-5 aside:nth-child(2) {
    display: block;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.dice.dice-5 aside:nth-child(3) {
    display: block;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.dice.dice-5 aside:nth-child(4) {
    display: block;
    position: absolute;
    left: .5rem;
    bottom: .5rem;
}

.dice.dice-5 aside:nth-child(5) {
    display: block;
    margin: auto;
}

.dice.dice-6 aside:nth-child(1) {
    display: block;
    position: absolute;
    left: .5rem;
    top: .5rem;
}

.dice.dice-6 aside:nth-child(2) {
    display: block;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.dice.dice-6 aside:nth-child(3) {
    display: block;
    position: absolute;
    left: .5rem;
    bottom: .5rem;
}

.dice.dice-6 aside:nth-child(4) {
    display: block;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.dice.dice-6 aside:nth-child(5) {
    display: block;
    position: absolute;
    left: .5rem;
    top: 3rem;
}

.dice.dice-6 aside:nth-child(6) {
    display: block;
    position: absolute;
    right: .5rem;
    top: 3rem;
}